.logo
{
float: left;
padding-left: 35px;
}

.logo_text
{
font-weight: bold;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
color: #B4EEB4;
}

.logindiv
{
width: 100%;
height: 100px;
background-color: #009966;
}

.registerdiv
{
float: right;
padding-top: 10px;
padding-right: 120px;
}

.loginbox
{
float: right;
padding-right: 90px;
padding-top: 14px;
color: white;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-weight: bold;
font-size: 14px;
}

.reg_input
{
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-weight: normal;
border: 2px solid #B4EEB4;
border-radius: 6px;
padding-left: 3px;
outline: none;
}

.reg_input:focus
{
border:2px solid #009966;
}

.login_input
{
outline: none;
border: 2px solid #009966;
/*box-shadow: 0 0 10px #719ECE;*/
height: 20px;
padding-left: 3px;
height: 25px;
}

.login_input:focus
{
border:2px solid #B4EEB4;
}

.button_login
{
height: 22px;
background-color: #B4EEB4;
border:1px solid #B4EEB4;
color: white;
cursor: pointer;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-weight: normal;
color: green;
outline: none;
}

.button_login:focus
{
border:1px solid green;
}

.button_login:hover
{
background-color: #00C78C;
border:1px solid #00C78C;
color: white;
cursor: pointer;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-weight: normal;
color: green;
}

.button_register
{
font-size: 20px;
width: 200px;
height: 40px;
background-color: #009966;
border:1px solid #009966;
color: white;
cursor: pointer; 
border-radius: 7px;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-weight: normal;
outline: none;
}

.button_register:focus
{
border:1px solid green;
}

.button_register:hover
{
font-size: 20px;
width: 200px;
height: 40px;
background-color: #008B45;
border:1px solid #008B45;
color: white;
cursor: pointer; 
border-radius: 7px;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-weight: normal;
}

h1
{
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-weight: normal;
}

.reg_success
{
padding: 10px;
font-size: 30px;
border:2px solid #00C78C;
width: 375px;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-weight: bold;
}

.search
{
float: left;
padding-left: 10px;
padding-top: 4px;
}

.menu
{
float: right;
padding-right: 45px;
padding-top: 6px;
}

.header
{
background-color: #009966;
height: 35px;
}

.search_bar
{
border: none;
height: 20px;
padding-left: 4px;
border:2px solid white;
outline: none;
font-size: 12px;
}

.search_bar:focus
{
border:2px solid #B4EEB4;
}

.link
{
text-decoration:none; 
color: white;
padding-right: 12px;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.link:hover
{
text-decoration:none; 
color: rgb(75, 20, 230);
}

.link_search
{
text-decoration:none; 
color: blue;
padding-left: 7px;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.link_search:hover
{
text-decoration:none;
color: purple;
}

.login_attempt_div
{
border: 1px solid black;
width: 500px;
height: 300px;
float: right;
text-align: center;
}

.outer_login_attempt_div
{
width: 750px;
}

.button_other
{
font-size: 12px;
width: 50px;
height: 25px;
background-color: #009966;
border:1px solid #009966;
color: white;
cursor: pointer;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-weight: normal;
outline: none;
}

.button_other:focus
{
border:1px solid green;
}

.button_other:hover
{
font-size: 12px;
width: 50px;
height: 25px;
background-color: #008B45;
border:1px solid #008B45;
color: white;
cursor: pointer;
font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
font-weight: normal;
}

.theme
{
width: 200;
height: 130;
cursor: pointer;
}

.theme:hover
{
width: 300;
height: 230;
}

.requestbox
{ 
margin-left:5px;
width:200px; 
padding:10px; 
border:5px solid #9DB68C; 
background:#CFDBC5;
}